:root {

    /*COLORS APPLICATIONS*/
    --color-orange-menu: #E90505;
    --color-orange: #E1181E;
    --color-orange-dark: #E1181E;

    --color-red: #E1181E;
    --color-red-text-info: #E90505;
    --color-red-text-info-fail: #B10D0D;
    --color-red-cancelar-info: #DF240E;

    --color-green-text-success: #1EA97C;

    --color-white: #FFFFFF;
    
    --color-black: #000000;
    --color-black-light: #333333;
    --color-grey: #5E646D;
    --color-grey-light: ;

    --color-grey-dark: #333333;
    --color-grey-normal: #666666;
    --color-grey-normal-hover: #e6e6e6;
    --color-grey-light-active: #d0d0d0;
    --color-grey-light: #ffffff;

    --color-red-loreriavirtual:#e9050594;
    --color-blue-dark: #002D74;
    --color-blue-dark-title-dashboard: #002D74;
    --color-blue-light : #002d7480;

    --color-background: #EDF0F5;
    --color-background-dark: #C7D6E9;

    --color-border: #00000029;
    --color-border-transparent: #ffffff00;

    --color-yellow: #FFCD00;
    --color-yellow2: #ECA108;

    --color-paginator-select: #FFFFFF ;
    --color-paginator-number-actually: #1B3F7A ;

    /*FONTS SIZES APLICATION*/
    --font-size-xl: 16px;
    --font-size-lg: 14px;
    --font-size-sm: 12px; 
    --font-size-menu: 14px;
    --font-size-titles: 16px ; 

    /*FONT FAMILY*/

    --font-family: Roboto !important;

}
