.content-title-lote {
    background: var(--color-blue-dark);
    box-shadow: 0px 3px 6px var(--color-blue-light);
    border-radius: 10px;
    opacity: 1;
    color: var(--color-white);
    padding: 0.5rem;
}

.input-bet {  
    width: 70%;
    top: 263px;
    left: 692px;
    height: 39px;
    padding-left: 15px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #2076BD52;
    border: 1px solid #2076BD59;
    border-radius: 8px;
    opacity: 1;
  
}
.div-s-t-1 {
    background-color: #1976d2;
    border-radius: 7px;
    margin-right: 10%;
    margin-top: 1%;

}
.div-s-t-2 {
    background-color: #1976d2;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 1%;
}

.div-s-t-3 {
    background-color: #1976d2;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 1%;

}

.div-s-t-4 {
    background-color: #1976d2;
    border-radius: 10px;
    margin-right: 3%;
    margin-top: 1%;

}